# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks
*.keystore

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
